@charset "UTF-8";
html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
}

.container{ 
    width: 310px;
  height: 310px;
    border: 5px solid #212226;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
div{
    text-align: center;
    justify-content: center;
    align-items: center;
       
}
.first{
    background-color: #012E40;
    color:#F2E3D5;

    grid-column: 4/8;
    grid-row: 4/5;
}
.second{
    background-color: #024959;
    color:#F2E3D5;
    grid-column: 5;
    grid-row: 7;
}
.third{
    background-color: #026773;
    color:#F2E3D5 ;
    grid-column: 3;
    grid-row: 2;
} 